.userbox {
    color: black;
    background-color: White;
    border-radius: 5px;
    width: 90%;
    min-width: 575px;
}

.user-pic {
    height: 200px;
    width: auto;
}

@media screen and (max-width: 1000px) { .allusers {flex-direction: column;} }
