.ranking-item {
    min-width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
}
.ranking-item-poster img {
    height: 145px;
    width: auto;
    margin: 5px;
}

@media screen and (max-width: 1200px) { .rankings {flex-direction: column;} }