@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';
@import '../components/home/home.scss';

body {
  background-color: $favColor;
}

.image:hover > .overlay {
  background-color:#000;
  opacity:0.5;

}

div.show-image:hover div.btndiv {
  display: block;
  opacity: 80%;
}


div.show-image div.btndiv {
  position: absolute;
  display: none;
  top:15%;
  left:30%;
}
